{% if value is iterable %}
    {% for key, val in value %}
        {% include _self with {name: name~'['~key~']', value: val} %}
    {% endfor %}
{% else %}
    {#<p>{{ name }} - {{ value }}</p>#}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endif %}